.HH {
    height: 862px;

}

/* font style */


.text-noto {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: Bold;
    font-style: normal;
    font-variation-settings: "width" 100;
    font-size: 65px;
}

.text-noto1 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: Bold;
    font-style: normal;
    font-variation-settings: "width" 100;
    color: rgba(255, 255, 255, 1);
    font-size: 65px;
}

.text-noto2 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: Bold;
    font-style: normal;
    font-variation-settings: "width" 100;
    font-size: 50px;
}

.text-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.text-inter1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 22px;
    color: rgba(37, 36, 50, 1);




}

.text-inter2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
    color: rgba(0, 0, 0, 1);


}

/* header section style  */


.navi {
    display: flex;
    justify-content: space-between;

    margin: 30px 150px 10px 150px;
}

.uo {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.cart {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.list {

    margin-right: 48px;
    text-align: center;
}

.ancors {

    text-decoration: none;
}

.banner-style {
    display: flex;
    margin: 0px 150px 50px 150px;
    justify-content: space-between;
    
     
}

.color1 {

    color: rgba(233, 90, 8, 1);

}

.color2 {

    background-color: rgba(233, 90, 8, 1);
    color: rgba(255, 255, 255, 1);


}

.banner-description {
    margin-top: 162px;
    align-content: last baseline;
    width: 570px;



}

.flower1 {
    margin-top: 106px;
    align-content: last baseline;
    padding-left: 30px;
    width: 570px;


}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* our plant section  */
.container {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;


    

}

.grid-style {
    display: grid;
    grid-template-columns: repeat(4, 274px);
    grid-template-rows: repeat(2, 480px);
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.button-style {
    padding: 5px 50px;
}



/* flower and plant lovers style  */

.container2{
    display: flex;
     justify-content: center;
    align-items: center;
    text-align: center;
    margin:210px 100px 133px 100px;
  


     

}



/* Join section style */


.join-style {
    background-image: url('../assets/news-letter-bg.png');
    height: 533px;
    background-size: cover;

    /* width:100%; */

}

.join-div-style {
    padding: 100px 290px 190px 350px;
    /* border-style: solid;
    border-color:green; */

}

.email-style {

    width: 600px;
    ;
    padding: 15px;
    margin-right: none;
}

.button-style1 {
    padding: 10px 55px;
    font-size: 22px;
    margin-left: none;
}








/* footer styles */

.footer-style {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

}

.footer1 {
    display: block;
}

.footer2 {
    display: flex;
   
    
}

.uo1 {
    list-style: none;
 
 
    
}

.list1 {

    margin-bottom: 30px;
    text-align: center;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start
}

div>img {
    margin-right: 20px;
}