.HH {
    height: 862px;

}

/* font style */


.text-noto {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: Bold;
    font-style: normal;
    /* font-variation-settings: "width" 100; */
    font-size: 4.06rem;
}

.text-noto1 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: Bold;
    font-style: normal;
    /* font-variation-settings: "width" 100; */
    color: rgba(255, 255, 255, 1);
    font-size: 4.06rem;
}

.text-noto2 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: Bold;
    font-style: normal;
    /* font-variation-settings: "width" 100; */
    font-size: 3.12rem;
}

.text-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}

.text-inter1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.37rem;
    color: rgba(37, 36, 50, 1);




}

.text-inter2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 1);


}

/* header section style  */


.navi {
    display: flex;
    justify-content: space-between;

    margin: 30px 150px 10px 150px;
}



.uo {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.cart {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.list {

    margin-right: 48px;
    text-align: center;
}

.ancors {

    text-decoration: none;
}



.color1 {

    color: rgba(233, 90, 8, 1);


}

.color2 {

    background-color: rgba(233, 90, 8, 1);
    color: rgba(255, 255, 255, 1);


}

.color3 {
    color: rgba(255, 255, 255, 1);
}

.banner-style {
    display: flex;
    margin: 0px 150px 50px 150px;
    justify-content: space-between;


}

.banner-description {
    margin-top: 162px;
    align-content: last baseline;
    width: 570px;



}

.flower1 {
    margin-top: 106px;
    align-content: last baseline;
    padding-left: 30px;
    width: 570px;



}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* our plant section  */
.container {

    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;




}

.grid-style {
    display: grid;
    grid-template-columns: repeat(4, 274px);
    grid-template-rows: repeat(2, 480px);
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.button-style {
    padding: 5px 50px;
    border: none;
}



/* flower and plant lovers style  */

.container2 {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(2, auto);
    gap: 70px;
    align-self: left;
    margin-right: 80px;




}


.trusted-logo {
    transform: translateX(650px) translateY(-420px);
}



/* latest deal section */


.container-latest-deal {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.latest {
    margin-bottom: 100px;
}

.grid-style2 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);

    gap: 10px;
    margin-bottom: 50px;

    align-items: center;
    text-align: center;
    justify-content: center;

    /* border-style: solid;
    border-color:green; */
}

.box1 {

    border-radius: 22px;
    height: 200px;
    width: 360px;
    background-image: url('../assets/deal-bloom.png');
    background-size: cover;
    margin-left: 150px;

}

.box2 {

    border-radius: 22px;
    grid-row: span 2;
    height: 423px;
    width: 750px;
    background-image: url('../assets/deal-zabo.png');
    background-size: cover;
    margin-right: 150px;
    margin-left: 0px;

}

.box3 {

    border-radius: 22px;
    height: 200px;
    width: 360px;
    background-image: url('../assets/deal-ana.png');
    background-size: cover;
    margin-left: 150px;

}

.discount {
    font-size: 1.25rem;
    text-align: center;
    align-items: center;
    padding-top: 30px;

}

.discount1 {
    font-size: 3.12rem;
    text-align: center;
    align-items: center;
    padding-top: 50px;
}



/* Join section style */

.join-div-style {

    background-image: url('../assets/news-letter-bg.png');
    height: 530px;
    background-size: cover;
    padding: 100px 290px 190px 350px;


}

.k {
    padding-top: 80px;
    padding-left: 20px;
}

.s {
    padding-top: 0px;
    padding-left: 150px;
}

.email-style {

    flex: 4;
    padding: 10px;
    font-size: 1rem;
    border: none;
    height: 45px;
}

.button-style1 {

    flex: 1;
    padding: 10px;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    height: 62px;
}

.button-box {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    align-content: center;
}








/* footer styles */

.footer-style {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

}

.footer1 {
    display: block;
}

.footer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;


}


.paragraph1 {
    align-self: first baseline;
    align-self: left;
    align-items: first baseline;
    padding-right: 70px;



}

.list1 {

    margin-bottom: 30px;


    justify-content: space-between;
    align-content: flex-end;
    align-self: left;
    align-items: baseline;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

div>img {
    margin-right: 20px;
}





/* responsive */

@media screen and (max-width:576px) {



    /* header */
    .HH {
        height: auto;
    }

    .hid {
        display: none;
    }

    .navi {
        display: flex;
        justify-content: space-around;

        margin: 0px;
    }

    /* .m{
    overflow-wrap: break-word;
    } */


    .banner-style {
        display: grid;
        grid-template-rows: auto auto;
        margin: 0px;
        padding: 0px;
        width: auto;



    }



    .banner-description {
        display: grid;
        grid-row: 2;
        margin-top: 50px;
        align-content: center;
        width: auto;
        padding-left: 0px;
        margin-left: 0px;

    }





    .f {
        display: inline-block;

    }

    .flower1 {
        grid-row: 1;
        width: 100%;
        margin: 0px;
        padding: 0px;

    }

    .hf {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    /* plant  */



    .container {
        display: grid;
        margin: 0px;
        padding: 0px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 20px !important;
        margin-bottom: 10px !important;
        width: auto;


    }


    .grid-style {
        display: grid;
        grid-template-columns: repeat(2, 274px);
        grid-template-rows: repeat(4, 480px);
        gap: 20px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px !important;
        width: auto;
        margin: 0px;
        padding: 0px;
    }

    /* flower lover  */

    .container2 {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 70px;
        align-self: left;
        margin-right: 80px;
        margin: 0px !important;
    }

    .trusted-logo {
        display: none;
    }

    /* latest deal */

    .grid-style2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        height: 100vh;
        margin: 0px;
        padding: 0px;
        row-gap: 10px;



    }

    .box1 {

        border-radius: 22px;
        background-repeat: none;
        background-image: url('../assets/deal-bloom.png');
        filter: brightness(60%);
        background-size: cover;
        width: auto;
        height: 240px;
        margin: 0px;
        padding: 0px;



    }

    .box2 {


        border-radius: 22px;
        margin: 0px;
        padding: 0px;
        background-image: url('../assets/deal-ana.png');
        filter: brightness(60%);
        background-repeat: none;
        background-size: cover;
        width: auto;
        height: 240px;


    }

    .box3 {
        border-radius: 22px;
        background-repeat: none;
        background-image: url('../assets/deal-zabo.png');
        filter: brightness(60%);
        background-size: cover;
        width: auto;
        height: 240px;
        margin: 0px;
        padding: 0px;





    }

    .discount {
        font-size: 1.25rem;
        text-align: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 0px;

    }

    .discount1 {
        font-size: 1.87rem;
        text-align: center;
        align-items: center;
        padding-top: 50px;
        margin-bottom: 0px;
    }


    /* join section */

    .join-div-style {
        padding: 0px;
        background-image: url('../assets/news-letter-bg.png');
        background-size: cover;
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-top: 50px !important;

    }


    .email-s {
        display: flex;

        /* white-space:break-spaces; */
        justify-content: center;
        align-items: center;
        align-content: center;
        overflow-wrap: break-word;
    }

    .text-noto1 {
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: Bold;
        font-style: normal;
        font-variation-settings: "width" 100;
        color: rgba(255, 255, 255, 1);
        font-size: 2.18rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }


    .email-style {

        width: auto;
        padding: 10px;
        margin: 0px;


    }

    .button-style1 {
        padding: 7px 45px;
        font-size: 0.94rem;
        margin-left: 0px;
        border: none;
        margin-right: 20px !important;
    }

    .button-box {
        padding-left: 20px;
        margin-right: 20px !important;
    }


    /* overflow */
    main {
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    body {
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: scroll;
    }



    /* footer */

    .footer-style {
        display: block;
        justify-content: flex-start;
        text-align: flex-start;
        align-items: left;
        align-self: flex-start;
        padding-top: 50px;

    }

    .footer2 {
        display: block;
        margin: 0px;
        padding: 0px;



    }

    .footer-icon {
        display: flex;
        margin: 0px;
        justify-content: flex-start;

    }

    .list1 {

        text-align: left;
        align-items: first baseline;

    }
}


@media screen and (max-width:480px) {

    /* banner section */

    .banner-style {
        display: grid;
        grid-template-rows: auto auto;
        margin: 0px;
        padding: 0px;
        width: auto;

    }



    .banner-description {
        display: grid;
        grid-row: 2;
        margin-top: 50px;
        align-content: center;
        width: auto;
        padding-left: 0px;
        margin-left: 0px;

    }



    .f {
        display: inline-block;

    }

    .flower1 {
        grid-row: 1;
        width: 100%;
        margin: 0px;
        padding: 0px;

    }

    .hf {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }





    /* plan section  */

    .container {
        display: grid;
        margin: 0px;
        padding: 0px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 20px !important;
        margin-bottom: 10px !important;
        width: auto;


    }


    .grid-style {
        display: grid;
        grid-template-columns: repeat(1, 274px);
        grid-template-rows: repeat(8, 480px);
        gap: 20px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px !important;
        width: auto;
        margin: 0px;
        padding: 0px;
    }

    .email-s {
        display: flex;

        /* white-space:break-spaces; */
        justify-content: center;
        align-items: center;
        align-content: center;
        overflow-wrap: break-word;
    }

    .button-box {
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 20px !important;
    }

    .button-style1 {
        padding: 7px 45px;
        font-size: 0.94rem;
        margin-left: 0px;
        border: none;
        margin-right: 20px !important;
    }



}